
footer{
    color: #1E3F46;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer a{
    color: #000000;
}

footer a:hover{
    color: #0572a1;
}
