
*{
    font-family:'Teko', sans-serif;
	font-size: 17px;
	font-weight: 100px;
    display: flex;
    flex-direction: column;
}

.master-div{
    background-color:$colorAll;
}


header{
    font-family:'Teko', sans-serif;
    display: flex;
    position:sticky;
	justify-content: space-between;
	background: linear-gradient(to right, #000000cd, $colorAll);
	align-items:center;
	padding: 10px;
    flex-direction: row; 

    :hover{
        color:#03587d;
    }

    a{
        font-size: 25px;
        font-weight: 4px;
        padding-left: 10px; 
        padding-right: 10px;
        text-decoration: none;
        color: #ffffff;
    }

    nav{
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        flex-direction: row;

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.divnav{
    padding-top: 10px;
}

.logo{
    flex-direction: row;
    align-items: center;

    span{
        color: #ffffff;
        font-size: 25px;
        font-weight: 4px;
        padding-top: 10px;
        align-items: center;
    }
    
    img{
        margin-top: 5px;
        height: 50px;
        margin-right: 10px;
        border-radius: 10px;
    }
}


.monologo h3{
    padding-left: 30px;
    padding-top: 40px;
}

