
/* Laptop */

@media screen and (max-width:1740px){

/* Media de Ofertas */
 
    .ofertas-main .img{
        width: 1400px;
    }

    
/* Media del Index ( Inicio )*/

    .reservaciones-todo{
        width: auto;
        flex-direction: column;
        height:350px;
        justify-content: center;
    }

    }

@media screen and (max-width:1550px){

    
    /* Media del Index ( Inicio )*/

    .experiencia{
        width: 500px;
        display: flex;

        ul{
            flex-direction: column;         
        }
    }

/* Media de Destinos */

     .encabezado{
        align-items: center;
    }

    .ofertas-de-vuelos{
        align-items: center;

        .desde{
            width: 500px;
        }
    }

    .opciones{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        gap: 1rem;
        margin-top: 40px;
        align-items: center;
    }

        /* Media de Ofertas */
 
        .ofertas-main .img{
            width: 1000px;
        }
}

@media screen and (max-width:1030px){

    .opciones{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
        gap: 1rem;
        margin-top: 40px;
        align-items: center;
    }


    /* Media de Ofertas */
 
    .ofertas-main .img{
        display: none;
    }

    .mas-buscado{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width:400px;
        height: 500px;

        div{
            width: 300px;
        }
    }

    .otras-opciones{
        display: grid;
        margin-top: 10px;
        width: 400px ;
        height: auto;
        border-style: solid;
        border-radius: 10px;

        a{
            display: grid;
            grid-template-columns: 20% auto;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    

    /* Media Check in */

    .main {
        align-items: center;

        .titulos{
            align-items: center;
        }
    }


    .form .form-2{
        align-items: center;
    }
}

@media screen and (max-width:1024px){

    /* Media del Index ( Inicio )*/

    .reservaciones-todo{
        flex-direction: column;
        height:500px;
        justify-content: center;
    }

    .vuelos{
        color:#000000;
        border-color:#000000;
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-style: solid;
        margin-bottom: 2px;
    }
    
    .tiempo{
        padding-top: 17px;
        color:#1E3F46;
        border-color: #000000;
        border-radius: 10px;
        border-style: solid;
        margin-top: 2px;
    }

    .ofertas-todo{
        flex-direction: column;
    }

    .form-destino{
        display: flex;
        flex-direction: row;
        height: 200px;
    }

    .destino-todo{
        height: 200px;
    }

    .lista-ul{
        flex-direction: column;
    }

   

    /* Media del Footer */

    footer{
        font-size: small;
    }

}

/* Tablet */
@media (max-width:700px){

    
    /* Media del Index ( Inicio )*/

    .carousel-index{
        display: none;
    }

    /*header*/
    header{
        flex-direction: column;
    }
    
    nav{
        padding: 5px 15px;
    }
}


/* Mobile L*/
@media screen and (max-width:572px){

    .destino-todo{
        display:flex;
        flex-direction: column;
        height:800px;
        align-items: center;
    }

    .form-destino{
        display:flex;
        flex-direction: column;
        align-items: center;
        height:600px

    }

    .reservaciones-todo{
        height:900px ;
        justify-content: none;
    }
}

@media screen and (max-width:510px){

    /* index */

    .experiencia{
        width: auto;

        ul{
            li{
                a{
                    width: 250px;
                }
            }
        }
    }

    .opciones{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1 rem;
        gap: 1 rem;
        margin-top: 40px;
        align-items: center;
    }

    .ofertas-de-vuelos {

        .desde{
            width: 300px;
        }
    
    }
}

/* Mobile S*/
@media  screen and (max-width:420px){
    .nav-ul{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
    
    /* Media de Ofertas */
 
    .ofertas-main .img{
        width: 1400px;
    }

    .mas-buscado{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 400px;

        div{
            width: auto;
        }
    }

    .otras-opciones{
        display: grid;
        margin-top: 10px;
        width: 300px ;
        height: auto;
        border-style: solid;
        border-radius: 10px;

        a{
            display: grid;
            grid-template-columns: 20% auto;
            justify-content: space-evenly;
            align-items: center;
        }
    }
     
}
