//Variales 


$colorAll:#ffffff;
$colorHover:#a20303;
$padding:25px;

$marginOferts: 10px 10px;

$bordesS: border-style solid;
$bordesT: border-style 2px;

$decorationN: text-decoration none;
$cBlack:#000000;


//Mixins


@mixin formatoOF ($marginOferts, $bordesS, $bordesT){

    margin: $marginOferts;
    border-style: $bordesS;
    border-style: $bordesT;
    border-radius: 10px;
    background-color: #ffffff;

}

//Maps - Each

$footer1: $decorationN, $cBlack;

@each $footer2 in $footer1 {
    .portalesAsociados-#{$footer1}{
        text-decoration: $decorationN;
        color: $cBlack;
    }
}

@each $footer2 in $footer1 {
    .informacionLegal-#{$footer1}{
        text-decoration: $decorationN;
        color: $cBlack;
    }
}


