@charset "UTF-8";
.portalesAsociados-text-decoration none, #000000 {
  text-decoration: text-decoration none;
  color: #000000; }

.portalesAsociados-text-decoration none, #000000 {
  text-decoration: text-decoration none;
  color: #000000; }

.informacionLegal-text-decoration none, #000000 {
  text-decoration: text-decoration none;
  color: #000000; }

.informacionLegal-text-decoration none, #000000 {
  text-decoration: text-decoration none;
  color: #000000; }

* {
  font-family: 'Teko', sans-serif;
  font-size: 17px;
  font-weight: 100px;
  display: flex;
  flex-direction: column; }

.master-div {
  background-color: #ffffff; }

header {
  font-family: 'Teko', sans-serif;
  display: flex;
  position: sticky;
  justify-content: space-between;
  background: #040279;
  align-items: center;
  padding: 10px;
  flex-direction: row; }
  header a:hover {
    border-bottom: solid 3px;
    border-radius: 5px;
    color: #a20303; }
  header a {
    font-size: 25px;
    font-weight: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #ffffff; }
  header nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    flex-direction: row; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }

.divnav {
  padding-top: 10px; }

.logo {
  flex-direction: row;
  align-items: center; }
  .logo span {
    color: #ffffff;
    font-size: 25px;
    font-weight: 4px;
    padding-top: 10px;
    align-items: center; }
  .logo img {
    margin-top: 5px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px; }

.monologo h3 {
  padding-left: 30px;
  padding-top: 40px; }

main {
  align-items: center; }

.monologo {
  background-image: url(../images/avion-rojo1.jpg);
  background-color: #ffffff;
  align-items: center;
  background-position: center;
  height: 200px; }
  .monologo h1 i {
    font-size: 30px; }

.reservaciones-todo {
  color: #ffffff;
  background-color: #040279;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 20px;
  width: 1800;
  height: 130px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.vuelos {
  border-radius: 5px;
  border-bottom-style: solid 3px;
  padding-top: 15px;
  padding-left: 30px;
  color: #ffffff;
  height: 75px;
  width: 140px; }
  .vuelos h4 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 27px; }

.tiempo {
  padding-top: 17px;
  color: #000000;
  width: 320px;
  height: 75px; }

.origen, .destino {
  justify-content: space-between;
  width: 320px;
  height: 75px;
  padding: 10px;
  margin: 10px; }

.ida {
  justify-content: space-between;
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 10px; }

.buscar {
  justify-content: space-between;
  width: 140px;
  height: 75px;
  padding: 10px;
  margin: 10px; }

.buttom {
  padding-top: 25px;
  color: #1E3F46; }

.destino-todo {
  position: relative;
  display: flex;
  width: 100%;
  height: 110px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.form-destino {
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px; }

.ofertas-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around; }
  .ofertas-todo img {
    height: 300px;
    width: 800px;
    border-radius: 10px; }
  .ofertas-todo a {
    align-items: center;
    justify-content: center;
    color: #000000; }
  .ofertas-todo a:hover {
    border-color: #1E3F46;
    border-style: ridge;
    border-radius: 10px; }
  .ofertas-todo .carrousel-index {
    align-items: center; }

.salta {
  align-items: center;
  justify-content: center; }

.lista-ul {
  flex-direction: row;
  justify-content: space-between; }
  .lista-ul a {
    color: #ffffff;
    margin-left: 15px;
    text-decoration: none; }
  .lista-ul a:hover {
    border-bottom: solid 3px;
    border-radius: 5px;
    color: #a20303; }
  .lista-ul img {
    max-height: 600px;
    max-width: 300px;
    border-radius: 10px; }

.experiencia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040279;
  width: 1300px;
  border-radius: 20px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px; }
  .experiencia h2 {
    color: #ffffff; }
  .experiencia p {
    color: #ffffff; }

.destinos-main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.opciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
  margin-top: 40px;
  align-items: center; }
  .opciones a {
    height: 400px;
    width: 500px;
    justify-content: end;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none; }
  .opciones a:hover {
    border-bottom-style: solid;
    border-bottom-color: #a20303; }
  .opciones .contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #021707b7;
    height: 100px;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px; }
  .opciones .contenedor:hover {
    border-style: solid;
    border-color: #0000008c; }

.Brasil a {
  background-image: url(../images/brasil.jpg);
  background-repeat: no-repeat; }

.Bolivia a {
  background-image: url(../images/bolivia.jpg);
  background-repeat: no-repeat; }

.chile2 a {
  background-image: url(../images/chile.jpg);
  background-repeat: no-repeat; }

.Colombia a {
  background-image: url(../images/colombia.jpg);
  background-repeat: no-repeat; }

.Ecuador a {
  background-image: url(../images/ecuador.jpg);
  background-repeat: no-repeat; }

.España a {
  background-image: url(../images/españa.jpg);
  background-repeat: no-repeat; }

.USA a {
  background-image: url(../images/USA.jpg);
  background-repeat: no-repeat; }

.Italia a {
  background-image: url(../images/italia.jpg);
  background-repeat: no-repeat; }

.Mexico a {
  background-image: url(../images/mexico.jpg);
  background-repeat: no-repeat; }

.Paraguay a {
  background-image: url(../images/paraguay.jpg);
  background-repeat: no-repeat; }

.Peru a {
  background-image: url(../images/peru.jpg);
  background-repeat: no-repeat; }

.Uruguay a {
  background-image: url(../images/uruguay.jpg);
  background-repeat: no-repeat; }

.texto h3 {
  font-size: 40px;
  margin-left: 25px;
  color: #e5e5e5c1; }

.boton {
  align-items: center;
  padding-top: 10px;
  margin-right: 25px;
  font-size: 25px;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border-radius: 20px;
  font-family: 'Teko', sans-serif; }
  .boton .boton:hover {
    background-color: #a20303; }

.ofertas-main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ofertas-main a {
    text-decoration: none;
    color: #000000; }

.img {
  display: flex;
  align-items: center; }
  .img img {
    width: 1700px;
    height: 300px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; }

.mas-buscado {
  background-color: #040279;
  color: #ffffff;
  display: grid;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 10px;
  width: 1000px;
  height: 200px;
  grid-template-columns: 100px 425px 425px;
  align-items: center;
  padding-left: 20px; }
  .mas-buscado a {
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 10px;
    align-items: center; }
  .mas-buscado a:hover {
    border-color: #a20303;
    border-style: ridge;
    border-radius: 10px; }

.otras-opciones {
  background-color: #040279;
  display: grid;
  margin-top: 10px;
  width: 900px;
  border-style: solid;
  border-radius: 10px; }
  .otras-opciones a:hover {
    border-style: solid;
    border-radius: 10px;
    border-color: #a20303; }
  .otras-opciones a {
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    border-style: solid;
    border-radius: 10px; }
  .otras-opciones img {
    border-radius: 5px;
    margin: 5px 5px; }

.precios {
  display: flex;
  justify-content: space-between; }

.Chile {
  margin: 10px 10px;
  border-style: border-style solid;
  border-style: border-style 2px;
  border-radius: 10px;
  background-color: #ffffff; }

.Cusco {
  margin: 10px 10px;
  border-style: border-style solid;
  border-style: border-style 2px;
  border-radius: 10px;
  background-color: #ffffff; }

.Cancun {
  margin: 10px 10px;
  border-style: border-style solid;
  border-style: border-style 2px;
  border-radius: 10px;
  background-color: #ffffff; }

.Miami {
  margin: 10px 10px;
  border-style: border-style solid;
  border-style: border-style 2px;
  border-radius: 10px;
  background-color: #ffffff; }

.ofertas-main {
  color: black; }

.carousel {
  height: 400px; }

.formulario .textos {
  align-items: center; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #040279;
  margin-top: 30px;
  padding-top: 30px; }
  footer h5 {
    font-size: 20px;
    color: #ffffff; }
  footer a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none; }
  footer a:hover {
    color: #a20303; }

/* Laptop */
@media screen and (max-width: 1740px) {
  /* Media de Ofertas */
  .ofertas-main .img {
    width: 1400px; } }

@media screen and (max-width: 1550px) {
  /* Media de Destinos */
  .encabezado {
    align-items: center; }
  .ofertas-de-vuelos {
    align-items: center; }
    .ofertas-de-vuelos .desde {
      width: 500px; }
  .opciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
    margin-top: 40px;
    align-items: center; }
  /* Media de Ofertas */
  .ofertas-main .img {
    width: 1000px; } }

@media screen and (max-width: 1030px) {
  .opciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
    margin-top: 40px;
    align-items: center; }
  /* Media de Ofertas */
  .ofertas-main .img {
    display: none; }
  .mas-buscado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 300px; }
  .otras-opciones {
    display: grid;
    margin-top: 10px;
    width: 400px;
    height: 600px;
    border-style: solid;
    border-radius: 10px; }
    .otras-opciones a {
      display: grid;
      grid-template-columns: 20% auto;
      justify-content: space-evenly;
      align-items: center; }
  /* Media Check in */
  .main {
    align-items: center; }
    .main .titulos {
      align-items: center; }
  .form .form-2 {
    align-items: center; } }

@media screen and (max-width: 1024px) {
  /* Media del Index ( Inicio )*/
  .reservaciones-todo {
    flex-direction: column;
    height: 500px;
    justify-content: center; }
  .vuelos {
    color: #000000;
    border-color: #000000;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    margin-bottom: 2px; }
  .tiempo {
    padding-top: 17px;
    color: #1E3F46;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    margin-top: 2px; }
  .ofertas-todo {
    flex-direction: column; }
  .form-destino {
    display: flex;
    flex-direction: row;
    height: 200px; }
  .destino-todo {
    height: 200px; }
  .lista-ul {
    flex-direction: column; }
  /* Media del Footer */
  footer {
    font-size: small; } }

/* Tablet */
@media (max-width: 700px) {
  header {
    flex-direction: column; }
  nav {
    padding: 5px 15px; } }

/* Mobile L*/
@media screen and (max-width: 572px) {
  .destino-todo {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center; }
  .form-destino {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px; }
  .reservaciones-todo {
    height: 900px;
    justify-content: none; } }

@media screen and (max-width: 510px) {
  .opciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1 rem;
    gap: 1 rem;
    margin-top: 40px;
    align-items: center; }
  .ofertas-de-vuelos .desde {
    width: 300px; } }

/* Mobile S*/
@media screen and (max-width: 420px) {
  .nav-ul {
    display: flex;
    flex-direction: column; }
  footer {
    display: flex;
    flex-direction: column; }
  /* Media de Ofertas */
  .ofertas-main .img {
    width: 1400px; }
  .mas-buscado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 400px; }
  .otras-opciones {
    display: grid;
    margin-top: 10px;
    width: 300px;
    height: 600px;
    border-style: solid;
    border-radius: 10px; }
    .otras-opciones a {
      display: grid;
      grid-template-columns: 20% auto;
      justify-content: space-evenly;
      align-items: center; } }
